#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION  "BootAnim"
#define REACTOS_STR_INTERNAL_NAME     "BootAnim"
#define REACTOS_STR_ORIGINAL_FILENAME "BootAnim.sys"
#include <reactos/version.rc>