#define REACTOS_VERSION_DLL
#define REACTOS_STR_INTERNAL_NAME     "BootAnim"
#define REACTOS_STR_ORIGINAL_FILENAME "BootAnim.sys"
#include "common_wrappers_ver.rc"

1 BITMAP "Bitmap/1.bmp"
2 BITMAP "Bitmap/2.bmp"
3 BITMAP "Bitmap/3.bmp"
4 BITMAP "Bitmap/4.bmp"
5 BITMAP "Bitmap/5.bmp"
6 BITMAP "Bitmap/6.bmp"
7 BITMAP "Bitmap/7.bmp"
8 BITMAP "Bitmap/8.bmp"
9 BITMAP "Bitmap/9.bmp"
10 BITMAP "Bitmap/10.bmp"
11 BITMAP "Bitmap/11.bmp"
12 BITMAP "Bitmap/12.bmp"
13 BITMAP "Bitmap/13.bmp"
14 BITMAP "Bitmap/14.bmp"
15 BITMAP "Bitmap/15.bmp"
16 BITMAP "Bitmap/16.bmp"
17 BITMAP "Bitmap/17.bmp"
18 BITMAP "Bitmap/18.bmp"
19 BITMAP "Bitmap/19.bmp"
20 BITMAP "Bitmap/20.bmp"
21 BITMAP "Bitmap/21.bmp"
22 BITMAP "Bitmap/22.bmp"
23 BITMAP "Bitmap/23.bmp"
24 BITMAP "Bitmap/24.bmp"
25 BITMAP "Bitmap/25.bmp"
26 BITMAP "Bitmap/26.bmp"
27 BITMAP "Bitmap/27.bmp"
28 BITMAP "Bitmap/28.bmp"
29 BITMAP "Bitmap/29.bmp"
30 BITMAP "Bitmap/30.bmp"
31 BITMAP "Bitmap/31.bmp"
32 BITMAP "Bitmap/32.bmp"
33 BITMAP "Bitmap/33.bmp"
34 BITMAP "Bitmap/34.bmp"
35 BITMAP "Bitmap/35.bmp"
36 BITMAP "Bitmap/36.bmp"
37 BITMAP "Bitmap/37.bmp"
38 BITMAP "Bitmap/38.bmp"
39 BITMAP "Bitmap/39.bmp"
40 BITMAP "Bitmap/40.bmp"
41 BITMAP "Bitmap/41.bmp"
42 BITMAP "Bitmap/42.bmp"
43 BITMAP "Bitmap/43.bmp"
44 BITMAP "Bitmap/44.bmp"
45 BITMAP "Bitmap/45.bmp"
46 BITMAP "Bitmap/46.bmp"
47 BITMAP "Bitmap/47.bmp"
48 BITMAP "Bitmap/48.bmp"
49 BITMAP "Bitmap/49.bmp"
50 BITMAP "Bitmap/50.bmp"
51 BITMAP "Bitmap/51.bmp"
52 BITMAP "Bitmap/52.bmp"
53 BITMAP "Bitmap/53.bmp"
54 BITMAP "Bitmap/54.bmp"
55 BITMAP "Bitmap/55.bmp"
56 BITMAP "Bitmap/56.bmp"
57 BITMAP "Bitmap/57.bmp"
58 BITMAP "Bitmap/58.bmp"
59 BITMAP "Bitmap/59.bmp"
60 BITMAP "Bitmap/60.bmp"
61 BITMAP "Bitmap/61.bmp"
62 BITMAP "Bitmap/62.bmp"
63 BITMAP "Bitmap/63.bmp"
64 BITMAP "Bitmap/64.bmp"
65 BITMAP "Bitmap/65.bmp"
66 BITMAP "Bitmap/66.bmp"
67 BITMAP "Bitmap/67.bmp"
68 BITMAP "Bitmap/68.bmp"
69 BITMAP "Bitmap/69.bmp"
70 BITMAP "Bitmap/70.bmp"
71 BITMAP "Bitmap/71.bmp"
72 BITMAP "Bitmap/72.bmp"
73 BITMAP "Bitmap/73.bmp"
74 BITMAP "Bitmap/74.bmp"
75 BITMAP "Bitmap/75.bmp"
76 BITMAP "Bitmap/76.bmp"
77 BITMAP "Bitmap/77.bmp"
78 BITMAP "Bitmap/78.bmp"
79 BITMAP "Bitmap/79.bmp"
80 BITMAP "Bitmap/80.bmp"
81 BITMAP "Bitmap/81.bmp"
82 BITMAP "Bitmap/82.bmp"
83 BITMAP "Bitmap/83.bmp"
84 BITMAP "Bitmap/84.bmp"
85 BITMAP "Bitmap/85.bmp"
86 BITMAP "Bitmap/86.bmp"
87 BITMAP "Bitmap/87.bmp"
88 BITMAP "Bitmap/88.bmp"
89 BITMAP "Bitmap/89.bmp"
90 BITMAP "Bitmap/90.bmp"
91 BITMAP "Bitmap/91.bmp"
